In [1]:
import numpy as np
import pandas as pd
from numpy.random import rand

In [3]:
outside = ' G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples((hier_index))

In [27]:
df = pd.DataFrame(rand(6,2),hier_index,['A','B'])

In [28]:
df

                   A         B
Groups Num
G1     1    0.343927  0.499069
       2    0.373731  0.937066
       3    0.940814  0.006946
G2     1    0.230370  0.968683
       2    0.779128  0.290377
       3    0.721481  0.917134

In [29]:
df.loc['G1']

            A         B
Num
1    0.343927  0.499069
2    0.373731  0.937066
3    0.940814  0.006946

In [30]:
df.loc['G1']

            A         B
Num
1    0.343927  0.499069
2    0.373731  0.937066
3    0.940814  0.006946

In [31]:
df.index.names = ['Groups', 'Num']

In [32]:
df

                   A         B
Groups Num
G1     1    0.343927  0.499069
       2    0.373731  0.937066
       3    0.940814  0.006946
G2     1    0.230370  0.968683
       2    0.779128  0.290377
       3    0.721481  0.917134

In [35]:
df.loc['G2']['B'][2]

0.2903774960083574

In [37]:
df

                   A         B
Groups Num
G1     1    0.343927  0.499069
       2    0.373731  0.937066
       3    0.940814  0.006946
G2     1    0.230370  0.968683
       2    0.779128  0.290377
       3    0.721481  0.917134

In [41]:
df.xs(3,level='Num')

               A         B
Groups
G1      0.940814  0.006946
G2      0.721481  0.917134

In [43]:
df

                   A         B
Groups Num
G1     1    0.343927  0.499069
       2    0.373731  0.937066
       3    0.940814  0.006946
G2     1    0.230370  0.968683
       2    0.779128  0.290377
       3    0.721481  0.917134

In [50]:
df

                   A         B
Groups Num
G1     1    0.343927  0.499069
       2    0.373731  0.937066
       3    0.940814  0.006946
G2     1    0.230370  0.968683
       2    0.779128  0.290377
       3    0.721481  0.917134

In [52]:
df.loc['G1'] + df.loc['G2']

            A         B
Num
1    0.574297  1.467752
2    1.152859  1.227444
3    1.662295  0.924080