In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
df = pd.DataFrame(randn(5,5),['A','B','C','D','E'],['W','X','Y','Z','XL'])

In [8]:
df

          W         X         Y         Z        XL
A  0.822063 -1.392903 -1.183784  1.130498  1.038973
B  0.316999  0.760770 -0.535404 -0.538834  2.244849
C  0.668630 -1.157677  0.128438  2.906361 -1.637907
D  0.214054  0.321759  1.657027 -0.847870  1.110204
E -0.093235  0.265486  0.392284 -0.589479  2.022411

In [9]:
df['W']>0

A     True
B     True
C     True
D     True
E    False
Name: W, dtype: bool

In [10]:
df['W']

A    0.822063
B    0.316999
C    0.668630
D    0.214054
E   -0.093235
Name: W, dtype: float64

In [12]:
df[df['W']>0]

          W         X         Y         Z        XL
A  0.822063 -1.392903 -1.183784  1.130498  1.038973
B  0.316999  0.760770 -0.535404 -0.538834  2.244849
C  0.668630 -1.157677  0.128438  2.906361 -1.637907
D  0.214054  0.321759  1.657027 -0.847870  1.110204

In [14]:
resultdf = df[df['Z']<0]

In [16]:
resultdf

          W         X         Y         Z        XL
B  0.316999  0.760770 -0.535404 -0.538834  2.244849
D  0.214054  0.321759  1.657027 -0.847870  1.110204
E -0.093235  0.265486  0.392284 -0.589479  2.022411

In [17]:
resultdf['X']

B    0.760770
D    0.321759
E    0.265486
Name: X, dtype: float64

In [20]:
df[df['W']>0]

          W         X         Y         Z        XL
A  0.822063 -1.392903 -1.183784  1.130498  1.038973
B  0.316999  0.760770 -0.535404 -0.538834  2.244849
C  0.668630 -1.157677  0.128438  2.906361 -1.637907
D  0.214054  0.321759  1.657027 -0.847870  1.110204

In [25]:
df[df['W']>0][['Y','Z']]

          Y         Z
A -1.183784  1.130498
B -0.535404 -0.538834
C  0.128438  2.906361
D  1.657027 -0.847870

In [22]:
df

          W         X         Y         Z        XL
A  0.822063 -1.392903 -1.183784  1.130498  1.038973
B  0.316999  0.760770 -0.535404 -0.538834  2.244849
C  0.668630 -1.157677  0.128438  2.906361 -1.637907
D  0.214054  0.321759  1.657027 -0.847870  1.110204
E -0.093235  0.265486  0.392284 -0.589479  2.022411

In [27]:
df[df['W']>0]

          W         X         Y         Z        XL
A  0.822063 -1.392903 -1.183784  1.130498  1.038973
B  0.316999  0.760770 -0.535404 -0.538834  2.244849
C  0.668630 -1.157677  0.128438  2.906361 -1.637907
D  0.214054  0.321759  1.657027 -0.847870  1.110204

In [37]:
df[(df['W']>0) & (df['XL']>2)]

          W        X         Y         Z        XL
B  0.316999  0.76077 -0.535404 -0.538834  2.244849

In [38]:
df

          W         X         Y         Z        XL
A  0.822063 -1.392903 -1.183784  1.130498  1.038973
B  0.316999  0.760770 -0.535404 -0.538834  2.244849
C  0.668630 -1.157677  0.128438  2.906361 -1.637907
D  0.214054  0.321759  1.657027 -0.847870  1.110204
E -0.093235  0.265486  0.392284 -0.589479  2.022411

In [39]:
df.reset_index()

  index         W         X         Y         Z        XL
0     A  0.822063 -1.392903 -1.183784  1.130498  1.038973
1     B  0.316999  0.760770 -0.535404 -0.538834  2.244849
2     C  0.668630 -1.157677  0.128438  2.906361 -1.637907
3     D  0.214054  0.321759  1.657027 -0.847870  1.110204
4     E -0.093235  0.265486  0.392284 -0.589479  2.022411

In [44]:
newInd = 'CA NY WY OP CO'.split()
newInd

['CA', 'NY', 'WY', 'OP', 'CO']

In [45]:
df['States'] = newInd

In [46]:
df

          W         X         Y         Z        XL States
A  0.822063 -1.392903 -1.183784  1.130498  1.038973     CA
B  0.316999  0.760770 -0.535404 -0.538834  2.244849     NY
C  0.668630 -1.157677  0.128438  2.906361 -1.637907     WY
D  0.214054  0.321759  1.657027 -0.847870  1.110204     OP
E -0.093235  0.265486  0.392284 -0.589479  2.022411     CO

In [49]:
df.set_index('States' ,inplace=True)

In [50]:
df

               W         X         Y         Z        XL
States
CA      0.822063 -1.392903 -1.183784  1.130498  1.038973
NY      0.316999  0.760770 -0.535404 -0.538834  2.244849
WY      0.668630 -1.157677  0.128438  2.906361 -1.637907
OP      0.214054  0.321759  1.657027 -0.847870  1.110204
CO     -0.093235  0.265486  0.392284 -0.589479  2.022411