In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
np.random.seed(101)

In [42]:
df = pd.DataFrame(randn(5,5),['A','B','C','D','E'],['W','X','Y','Z','XL'])

In [43]:
df

          W         X         Y         Z        XL
A -0.630507 -1.398290 -0.219311 -0.045676  0.012421
B  0.093628  1.240813 -1.097693 -1.908009 -0.380104
C -1.666059 -2.736995  1.522562  0.178009 -0.626805
D -0.391089  1.743477  1.130018  0.897796  0.330866
E -1.063049 -0.125381 -0.945588  2.029544 -1.046358

In [15]:
df[['W','XL']]

          W        XL
A  0.638787 -0.943406
B  0.484752  1.996652
C -0.993263  1.025984
D -0.156598 -0.610259
E -0.755325  0.558769

In [20]:
df['NEW'] = df['W'] * df['Z'] + 100

In [21]:
df

          W         X         Y         Z        XL         NEW
A  0.638787  0.329646 -0.497104 -0.754070 -0.943406   99.518310
B  0.484752 -0.116773  1.901755  0.238127  1.996652  100.115432
C -0.993263  0.196800 -1.136645  0.000366  1.025984   99.999636
D -0.156598 -0.031579  0.649826  2.154846 -0.610259   99.662556
E -0.755325 -0.346419  0.147027 -0.479448  0.558769  100.362139

In [31]:
df.drop('NEW',axis=1,inplace=True)

In [32]:
df

          W         X         Y         Z        XL
A  0.638787  0.329646 -0.497104 -0.754070 -0.943406
B  0.484752 -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366  1.025984
D -0.156598 -0.031579  0.649826  2.154846 -0.610259
E -0.755325 -0.346419  0.147027 -0.479448  0.558769

In [33]:
df.drop('A')

          W         X         Y         Z        XL
B  0.484752 -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366  1.025984
D -0.156598 -0.031579  0.649826  2.154846 -0.610259
E -0.755325 -0.346419  0.147027 -0.479448  0.558769

In [34]:
df.drop('Y')

KeyError: "['Y'] not found in axis"

In [44]:
df

          W         X         Y         Z        XL
A -0.630507 -1.398290 -0.219311 -0.045676  0.012421
B  0.093628  1.240813 -1.097693 -1.908009 -0.380104
C -1.666059 -2.736995  1.522562  0.178009 -0.626805
D -0.391089  1.743477  1.130018  0.897796  0.330866
E -1.063049 -0.125381 -0.945588  2.029544 -1.046358

In [36]:
df.shape

(5, 5)

In [45]:
df[['W','XL']]

          W        XL
A -0.630507  0.012421
B  0.093628 -0.380104
C -1.666059 -0.626805
D -0.391089  0.330866
E -1.063049 -1.046358

In [46]:
df.loc['A']

W    -0.630507
X    -1.398290
Y    -0.219311
Z    -0.045676
XL    0.012421
Name: A, dtype: float64

In [47]:
df

          W         X         Y         Z        XL
A -0.630507 -1.398290 -0.219311 -0.045676  0.012421
B  0.093628  1.240813 -1.097693 -1.908009 -0.380104
C -1.666059 -2.736995  1.522562  0.178009 -0.626805
D -0.391089  1.743477  1.130018  0.897796  0.330866
E -1.063049 -0.125381 -0.945588  2.029544 -1.046358

In [50]:
df.loc['A','W']

-0.6305066330018959

In [53]:
df

          W         X         Y         Z        XL
A -0.630507 -1.398290 -0.219311 -0.045676  0.012421
B  0.093628  1.240813 -1.097693 -1.908009 -0.380104
C -1.666059 -2.736995  1.522562  0.178009 -0.626805
D -0.391089  1.743477  1.130018  0.897796  0.330866
E -1.063049 -0.125381 -0.945588  2.029544 -1.046358

In [52]:
df.loc[['A','B'] ,['W','Y'] ]

          W         Y
A -0.630507 -0.219311
B  0.093628 -1.097693

In [54]:
df

          W         X         Y         Z        XL
A -0.630507 -1.398290 -0.219311 -0.045676  0.012421
B  0.093628  1.240813 -1.097693 -1.908009 -0.380104
C -1.666059 -2.736995  1.522562  0.178009 -0.626805
D -0.391089  1.743477  1.130018  0.897796  0.330866
E -1.063049 -0.125381 -0.945588  2.029544 -1.046358

In [56]:
booldf = df>0

In [57]:
booldf

       W      X      Y      Z     XL
A  False  False  False  False   True
B   True   True  False  False  False
C  False  False   True   True  False
D  False   True   True   True   True
E  False  False  False   True  False

In [58]:
df[booldf]

          W         X         Y         Z        XL
A       NaN       NaN       NaN       NaN  0.012421
B  0.093628  1.240813       NaN       NaN       NaN
C       NaN       NaN  1.522562  0.178009       NaN
D       NaN  1.743477  1.130018  0.897796  0.330866
E       NaN       NaN       NaN  2.029544       NaN

In [59]:
df[df>0]

          W         X         Y         Z        XL
A       NaN       NaN       NaN       NaN  0.012421
B  0.093628  1.240813       NaN       NaN       NaN
C       NaN       NaN  1.522562  0.178009       NaN
D       NaN  1.743477  1.130018  0.897796  0.330866
E       NaN       NaN       NaN  2.029544       NaN

In [60]:
df

          W         X         Y         Z        XL
A -0.630507 -1.398290 -0.219311 -0.045676  0.012421
B  0.093628  1.240813 -1.097693 -1.908009 -0.380104
C -1.666059 -2.736995  1.522562  0.178009 -0.626805
D -0.391089  1.743477  1.130018  0.897796  0.330866
E -1.063049 -0.125381 -0.945588  2.029544 -1.046358