In [1]:
import numpy as np
import pandas as pd
from numpy.random import rand

In [2]:
d = {
    'A':[1,2,np.nan],
    'B':[5,np.nan,np.nan],
    'C':[1,2,3]
}

In [3]:
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [7]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [12]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [13]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [16]:
df.fillna(value=df['A'].mean)

,A,B,C
0,1,5,1
1,2,<bound method Series.mean of 0 1.0\n1 2....,2
2,<bound method Series.mean of 0 1.0\n1 2....,<bound method Series.mean of 0 1.0\n1 2....,3

In [19]:
x = df.dropna(thresh=3)

In [21]:
x.mean()

A    1.0
B    5.0
C    1.0
dtype: float64

In [22]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [28]:
df['A'].fillna(value=df['A'].mean(),inplace=True)

In [29]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  3

In [33]:
df['B'].fillna(value=df['A'].mean(),inplace=True)

In [34]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  1.5  1.5  3