In [1]:
import numpy as np
import pandas as pd
from numpy.random import rand

In [2]:
data = {
    'Company': ['GOOG' ,'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
    'Person': 'Sam Charlie Amy Venessa Carl Sarah'.split(),
    'Sales' : [200,120,340,124,243,350]
};

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Venessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [7]:
byComp = df.groupby('Company')

In [9]:
byComp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [11]:
byComp.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [13]:
byComp.sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [14]:
df.groupby('Company').sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [15]:
df.groupby('Company').count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [16]:
df.groupby('Company').max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Venessa    340

In [20]:
df.groupby('Company').describe().transpose()['FB']

Sales  count      2.000000
       mean     296.500000
       std       75.660426
       min      243.000000
       25%      269.750000
       50%      296.500000
       75%      323.250000
       max      350.000000
Name: FB, dtype: float64