In [1]:
import numpy as np
import pandas as pd
from numpy.random import rand

In [4]:
df1 = pd.DataFrame({
    'A' : 'A1 A2 A3 A4'.split(),
    'B' : 'B1 B2 B3 B4'.split(),
    'C' : 'C1 C2 C3 C4'.split(),
    'D' : 'D1 D2 D3 D4'.split()
},
index = [1,2,3,4]
)

df2 = pd.DataFrame({
    'A' : 'A5 A6 A7 A8'.split(),
    'B' : 'B5 B6 B7 B8'.split(),
    'C' : 'C5 C6 C7 C8'.split(),
    'D' : 'D5 D6 D7 D8'.split()
},
    index = [5,6,7,8]
)


df3 = pd.DataFrame({
    'A' : 'A9 A10 A11 A12'.split(),
    'B' : 'B9 B10 B11 B12'.split(),
    'C' : 'C9 C10 C11 C12'.split(),
    'D' : 'D9 D10 D11 D12'.split()
},
    index = [9,10,11,12]
)

In [3]:
df1

    A   B   C   D
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

In [5]:
df2

    A   B   C   D
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
8  A8  B8  C8  D8

In [6]:
df3

      A    B    C    D
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
12  A12  B12  C12  D12

In [11]:
newData = pd.concat([df1,df2,df3],axis=1)

In [12]:
newData

      A    B    C    D    A    B    C    D    A    B    C    D
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    A4   B4   C4   D4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN   A8   B8   C8   D8  NaN  NaN  NaN  NaN
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11
12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A12  B12  C12  D12

In [14]:
newData.dropna()

Empty DataFrame
Columns: [A, B, C, D, A, B, C, D, A, B, C, D]
Index: []

In [15]:
newData

      A    B    C    D    A    B    C    D    A    B    C    D
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    A4   B4   C4   D4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN   A8   B8   C8   D8  NaN  NaN  NaN  NaN
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11
12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A12  B12  C12  D12

In [17]:
newData.fillna(value=2)

     A   B   C   D   A   B   C   D    A    B    C    D
1   A1  B1  C1  D1   2   2   2   2    2    2    2    2
2   A2  B2  C2  D2   2   2   2   2    2    2    2    2
3   A3  B3  C3  D3   2   2   2   2    2    2    2    2
4   A4  B4  C4  D4   2   2   2   2    2    2    2    2
5    2   2   2   2  A5  B5  C5  D5    2    2    2    2
6    2   2   2   2  A6  B6  C6  D6    2    2    2    2
7    2   2   2   2  A7  B7  C7  D7    2    2    2    2
8    2   2   2   2  A8  B8  C8  D8    2    2    2    2
9    2   2   2   2   2   2   2   2   A9   B9   C9   D9
10   2   2   2   2   2   2   2   2  A10  B10  C10  D10
11   2   2   2   2   2   2   2   2  A11  B11  C11  D11
12   2   2   2   2   2   2   2   2  A12  B12  C12  D12

In [18]:
left = pd.DataFrame({
    'key' : 'K0 K1 K2 K3'.split(),
    'A' : 'A0 A1 A2 A3'.split(),
    'B' : 'B0 B1 B2 B3'.split()
})

right = pd.DataFrame({
    'key' : 'K0 K1 K2 K3'.split(),
    'C' : 'C0 C1 C2 C3'.split(),
    'D' : 'D0 D1 D2 D3'.split()
})

In [19]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [20]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

Copyright (c) 2001-2018 Python Software Foundation.
All Rights Reserved.

Copyright (c) 2000 BeOpen.com.
All Rights Reserved.

Copyright (c) 1995-2001 Corporation for National Research Initiatives.
All Rights Reserved.

Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
All Rights Reserved.

In [24]:
pd.merge(left,right,how='inner' , on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [28]:
left = pd.DataFrame({
    'A' : 'A0 A1 A2'.split(),
    'B' : 'B0 B1 B2'.split()
},
    index='K0 K1 K2'.split()
)
right = pd.DataFrame({
    'C' : 'C0 C1 C2'.split(),
    'D' : 'D0 D1 D2'.split()
},
    index='K0 K1 K2'.split()
)

In [29]:
right

     C   D
K0  C0  D0
K1  C1  D1
K2  C2  D2

In [30]:
left.join(right)

     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2

In [31]:
right.join(left)

     C   D   A   B
K0  C0  D0  A0  B0
K1  C1  D1  A1  B1
K2  C2  D2  A2  B2

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False