In [ ]:
import numpy as np
import pandas as pd
from numpy.random import rand

In [3]:
df = pd.DataFrame({
    'col1': [1,2,3,4],
    'col2': [444,555,666,444],
    'col3': 'abc def ghi xyz'.split()
})

In [4]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [5]:
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [7]:
df['col2'].nunique()

3

In [10]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [24]:
df[df['col1']>2]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [27]:
def times2(x):
    return x*2

In [26]:
 df['col1'].sum()

10

In [30]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [32]:
df['col1'].apply(lambda x:x**2)

0     1
1     4
2     9
3    16
Name: col1, dtype: int64

In [33]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [36]:
df.drop(1)

   col1  col2 col3
0     1   444  abc
2     3   666  ghi
3     4   444  xyz

In [37]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [38]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [40]:
df.sort_values('col1')

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [42]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [43]:
data = {
    'A' : 'foo foo foo bar bar bar'.split(),
    'B' : 'one one two two one one'.split(),
    'C' : 'x y x y x y'.split(),
    'D' : [1, 3, 2, 5, 4, 1]
}
df = pd.DataFrame(data)

In [44]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [45]:
df['New'] = df['D']

In [46]:
df

     A    B  C  D  New
0  foo  one  x  1    1
1  foo  one  y  3    3
2  foo  two  x  2    2
3  bar  two  y  5    5
4  bar  one  x  4    4
5  bar  one  y  1    1

In [47]:
df

     A    B  C  D  New
0  foo  one  x  1    1
1  foo  one  y  3    3
2  foo  two  x  2    2
3  bar  two  y  5    5
4  bar  one  x  4    4
5  bar  one  y  1    1

In [48]:
df['A'].unique()

array(['foo', 'bar'], dtype=object)

In [49]:
df

     A    B  C  D  New
0  foo  one  x  1    1
1  foo  one  y  3    3
2  foo  two  x  2    2
3  bar  two  y  5    5
4  bar  one  x  4    4
5  bar  one  y  1    1

In [51]:
df.drop('New',axis=1)

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [53]:
df.pivot_table(values='D',index=['A','B'],columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN